<?xml version="1.0"?>

<launch>

  <!-- Set joystick device -->
  <param name="joy_node/dev" value="/dev/input/js0"/>

  <!-- Run joystick driver -->
  <node pkg="joy"
        type="joy_node"
        name="joy_node"
        output="screen"/>

  <!-- Run control node explicitly via python3 -->
  <node pkg="com3528_team8"
        type="miro_joy_control.py"
        name="miro_joy_control"
        launch-prefix="python3"
        output="screen"/>

</launch>


<!-- <launch>

  <param name="joy_node/dev" value="/dev/input/js0"/>

  <node pkg="joy" type="joy_node" name="joy_node" output="screen"/>

  <node pkg="com3528_team8" 
        type="miro_joy_control.py" 
        name="miro_joy_control" 
        output="screen"/>

  

</launch>
 -->
