<?xml version="1.0"?>
<launch>

  <!-- Set the joystick device -->
  <param name="joy_node/dev" value="/dev/input/js0"/>

  <!-- Run the joystick driver -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen"/>

  <!-- Run the control node -->
  <node pkg="com3528_team8" 
        type="miro_joy_control.py" 
        name="miro_joy_control" 
        output="screen"/>

  

</launch>